:host {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  div.panel.panel-default {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .icon {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 20px;
    top: -2px;
  }
}
