:host {
  display: flex;
  flex-direction: column;

  header {
    color: white;

    ul.tabs {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      list-style: none;
      padding: 0;
      margin: 0;
      gap: 3px;

      li.tab {
        background-color: #617ba0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid black;
        gap: 8px;
        padding: 4px 8px;
        cursor: pointer;

        button.close {
          background-color: transparent;
          color: white;
          border: none;
        }
      }
    }
  }

  section.content {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
  }
}
